@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

:root {
    --dot-size: 10px;
    --dot-border-size: 4px;
    --circle-radius: 200px;

    --background: 50,50,50;
    --color: 200,200,200;
}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: 200px 1fr;

    background: rgb(var(--background));
    font-family: 'Montserrat Alternates';
    color: rgb(var(--color));
}

body > *:not(svg) {
    padding: 0 100px;
}

#panel {
    z-index: 100000;
    background: rgb(var(--background));

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-gap: 7px 50px;
}

input[type=range] {
    width: 200px;
    height: 4px;

    margin: 0;
    padding: 0;

    -webkit-appearance: none;
    background: rgba(var(--color), .5);
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    height: var(--dot-size);
    width: var(--dot-size);

    -webkit-appearance: none;
    background: rgb(var(--color));
    border-radius: calc(var(--dot-size) / 2);
    box-shadow: 0 0 0 var(--dot-border-size) rgba(var(--color), .2);

    cursor: pointer;
}

#radius {align-self: end}
label[for=radius] {
    align-self: start;
    justify-self: end;
}

#scale {
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;

    border: 2px solid rgb(var(--color));
    border-radius: 20px;
}

#dimensions {
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 20px 20px 120px;
    grid-template-rows: 20px 20px 120px;
    grid-template-areas: ". . width" ". . width-label" "height height-label square";
    grid-gap: 5px;
}

#dimensions input {
    width: 120px;
}

#height {
    grid-area: height;
    justify-self: end;

    transform: rotate(-90deg);
    transform-origin: bottom right;

    position: relative;
    bottom: 4px;
}

label[for=height] {
    grid-area: height-label;
    justify-self: end;
    align-self: center;

    transform: rotate(-90deg);
    transform-origin: center;

    position: relative;
    left: 7px;
}

#width {
    grid-area: width;
    align-self: end;
}

label[for=width] {
    grid-area: width-label;
    justify-self: center;
    align-self: end;
}

#scale {
    grid-area: square;
}


#canvas {
    position: absolute;
    top: 200px;
    left: 0;

    height: calc(100vh - 200px);
    width: 100vw;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 80px;
    width: 80px;
    padding: 2px;
    overflow: visible;

    transform: scale(3,3);
}

svg * {
    stroke: rgb(var(--color));
    stroke-width: 1px;
    stroke-linecap: round;
    fill: none;
}
